<!-- READ ME -->
<!-- Don't learn how CSS Grid works from this code because i'm not sure if i'm doing it 
    properly.

    I'll probably come back and rewrite some of this stuff.

    Instead it may be worth watching this youtube vid to learn CSS Grid:
    https://www.youtube.com/watch?v=9zBsdzdE4sM

-->


<br>
<h1>Patient Overview</h1>
<br>

<!-- Grid container that stores profile data and 'buttons' (e.g. record health)-->
<div class="flexbox-patient-overview-container">
    <div class="flexbox-patients-item">one</div>
    <div class="flexbox-patients-item">two</div>
    <div class="flexbox-patients-item">three</div>
</div>
