<div class="flexbox-main-content">
    <br>
    <section>
        <h1>{{errorHeading}}</h1>
        <p>{{errorText}}</p>
    </section>
    <section>
        <br>
        <div class="err-btn-container">
         <a href="{{buttonURL}}" class="backURL">{{buttonText}}</a> 
        </div>
    </section>
    <br>
</div>