<div class="flexbox-main-content">
    <br>
    <section>
        <h1>{{errorHeading}}</h1>
        <p>{{errorText}}</p>
    </section>
    <section>
        <br>
         <a href="{{buttonURL}}" class="backURL">{{buttonText}}</a> 
    </section>
    <br>
</div>