<div class="flexbox-main-content">
    <br>
    <section>
        <h1>{{errorHeading}}</h1>
        <p>{{errorText}}</p>
    </section>
    <section>
        <br>
        <h2>Quick Links</h2>
    </section>
    <br>
</div>