<!-- Work in progress leaderboard framework HTML - currently hard coded and not linked yet-->
{{!-- <h1 class="LB-heading">leaderboard</h1> --}}


<!-- container to hold everything -->
<div class="leaderboard-container">
    <h1 class="LB-heading">Leaderboard</h1>
<!-- Top graphics section e.g. top 3 people-->
<!-- Need to replace pat_username with his username and replace other usernames-->
    <div class="leaderboard-image-flex">
        <div class="place">
            <img src="../assets/2nd.png" class="second-icon">
            <p class="user-labels">pat_username</p>
        </div>

        <div class="place">
            <img src="../assets/1st.png" class="first-icon">
            <p class="user-labels">username_1</p>
        </div>

        <div class="place">
            <img src="../assets/3rd.png" class="third-icon">
            <p class="user-labels">username_2</p>
        </div>
    </div>

<!-- Top 5 list of people -->

    <div class="top-5-container">
        <h2 class="top-title">Top 5</h2>

        <div class="top-1">
            <img src="../assets/1-label.png" class="board-icon">
            <p class="board-label">Username_1</p>
            <p class="user-score">95%</p>
        </div>
    
        <div class="top-2">
            <img src="../assets/2-label.png" class="board-icon">
            <p class="board-label">pat_username</p>
            <p class="user-score">83%</p>
        </div>

        <div class="top-3">
            <img src="../assets/3-label.png" class="board-icon">
            <p class="board-label">Username_2</p>
            <p class="user-score">80%</p>
        </div>

        <div class="top-others">
            <img src="../assets/4-label.png" class="board-icon">
            <p class="board-label-2">Username_3</p>
            <p class="user-score-2">79%</p>
        </div>

        <div class="top-others">
            <img src="../assets/5-label.png" class="board-icon">
            <p class="board-label-2">Username_1</p>
            <p class="user-score-2">77%</p>
        </div>

    </div>

</div>


