<body class="login_body">
<div class="background">
    <div class="flexbox-form-container">
        <form class="loginform" action="/login" method="post">
                <h2 class="login_heading">LOGIN</h2>
            <div class="login_container">
                <label for="uname"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="uname">

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw">
                <div class="psw">
                   <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                    <div>Forgot <a href="#">password?</a></div> 
                </div>
                <button class="login_button">LOGIN</button>
                <div class="acc-creation-text">
                     <div>Don't have an account? <a href="#">Create an Account.</a></div> 
                 </div>
                
            </div>
            
        </form>
    </div>
</div>