<body class="login_body">
<div class="background">
    <div class="flexbox-form-container">
        <form class="loginform" action="/login" method="post">
                <h2 class="login_heading">LOGIN</h2>
            <div class="login_container">
                <label for="uname"><b>Username</b></label>
                <input id="username" type="text" placeholder="Enter Email" name="username">

                <label for="psw"><b>Password</b></label>
                <input id="psw" type="password" placeholder="Enter Password" name="password">
                <div class="psw">
                   <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                    <div><a href="#">Forgot password?</a></div> 
                </div>
                <button class="login_button">LOGIN</button>
                
                <div class="acc-creation-text">
                     <div>Don't have an account? <a href="register_page">Create an Account.</a></div> 
                </div> 
            </div>   
        </form>
    </div>
</div>