<body class="login_body">
    <div class="background">
        <div class="flexbox-form-container">
            <form class="loginform" action="/login" method="post">
                <h2 class="login_heading">LOGIN</h2>
                {{#each flash}}
                <p class="alert">{{this}}</p>
                {{/each}}
                <div class="login_container">
                    <label for="uname"><b>Username</b></label>
                    <input id="username" type="text" placeholder="Enter Username" name="username" required>

                    <label for="psw"><b>Password</b></label>
                    <input id="psw" type="password" placeholder="Enter Password" name="password" required>
                    <div class="psw">
                        <label class="loginlabel">
                        <input class="rememberedcheck"type="checkbox" checked="checked" name="remember">
                            &nbsp Remember me
                        </label>
                        {{!-- <div><a class="hreflinklogin" href="#">Forgot password?</a></div> --}}
                    </div>
                    <button class="login_button">LOGIN</button>

                    <div class="acc-creation-text">
                        <div>Don't have an account? <a class="hreflinklogin" href="/register">Create an Account.</a></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
