<br>
<h1 class="heading">Dashboard</h1>
<br>

<!-- Grid container that stores profile data and 'buttons' (e.g. record health)-->
<div id="patient-dashboard-grid-container">
    <!-- Column 1: Profile field that contains profile picture, username and ranking-->
    <div id="profile">
        <img src="../assets/icon_profile.png" alt="Profile picture" width="175" height="175">

        <!-- NOTE! These values are currently hardcoded and arbitrary (which is fine for this deliverable as per the spec) -->
        <!-- In the final submission these values need to be fetched from the database -->
        <h2 class="username">{{user.username}}</h2>
        <p class="ranking">Ranking: 3rd</p>
    </div>

    <!-- Column 2 -->
    <!-- Nested grid container that stores buttons-->
    <div id="patient-dashboard-grid-container-nested">
        <a href="/patient/record_health" class="button01">Record Health</a>
        <a href="/patient/history" class="button01 purple1">View History</a>
        <a href="/patient/leaderboard" class="button01">Leaderboard</a>
        <button class="button01 purple3">Settings</button>
    </div>
</div>
<br>

<div id="patient-dashboard-grid-container">
    <!-- Column 1: Empty field-->
    <div id=""></div>

    <!-- Column 2 -->
    <!-- Nested grid container that stores buttons-->
    <div id="patient-dashboard-grid-container-nested">
        <h2 class="patient-dashboard-notifications-text">Todays Requirements</h2>
        {{!-- <h1 class="container-text"></h1> --}}

        <!-- Show notifications/current measurement tasks -->
        {{#if enteredAllData}}
        <p class="patient-dashboard-notifications-text2">You have no more data to record today </p>
        {{else}}
            <p class="patient-dashboard-notifications-text2">Your clinician has advised you to record the following: </p>
            {{#if displayBg}}
            <div class="dataToRecord white">Blood Glucose</div>
            {{/if}}
            {{#if displayWeight}}
            <div class="dataToRecord white">Weight</div>
            {{/if}}
            {{#if displayInsulin}}
            <div class="dataToRecord white">Insulin</div>
            {{/if}}
            {{#if displayExercise}}
            <div class="dataToRecord white">Exercise</div>
            {{/if}}
        {{/if}}
        
        <button class="button02">
            <h2>Latest Clinician Message</h2>
            <p class="center-text">{{profileData.support_msg}}</p>
        </button>
    </div>
</div>
<br>