<div id="patient-specifics-topbar">
    <h2>Clinical Record for USERNAME</h2>
</div>

<div id="patient-specifics-container">
    <div class="patient-specifics-userbox">
        <div class="patient-specifics-userbox-subgrid">
            <img class="patient-specifics-pfp" src="../assets/icon_profile.png" alt="Profile picture" width="150"
                height="150">
            
            <h2 class="patient-specifics-name">Kendrick Lamar</h2>
        </div>
    </div>

    <div class="patient-specifics-table">
        <p>Table</p>


    </div>
</div>