<br>
<h1 class="heading">Dashboard</h1>
<br>

<!-- Grid container that stores profile data and 'buttons' (e.g. record health)-->
<div id="patient-dashboard-grid-container">
    <!-- Column 1: Profile field that contains profile picture, username and ranking-->
    <div id="profile">
        <img src="../assets/icon_profile.png" alt="Profile picture" width="175" height="175">

        <!-- NOTE! These values are currently hardcoded and arbitrary (which is fine for this deliverable as per the spec) -->
        <!-- In the final submission these values need to be fetched from the database -->
        <h2 class="username">{{user.username}}</h2>
        <p class="ranking">Ranking: 3rd</p>
    </div>

    <!-- Column 2 -->
    <!-- Nested grid container that stores buttons-->
    <div id="patient-dashboard-grid-container-nested">
        <a href="/patient/record_health" class="button01">Record Health</a>
        <button class="button01 purple1">View History</button>
        <a href="leaderboard" class="button01">Leaderboard</a>
        <button class="button01 purple3">Settings</button>
    </div>
</div>
<br>

<div id="patient-dashboard-grid-container">
    <!-- Column 1: Empty field-->
    <div id=""></div>

    <!-- Column 2 -->
    <!-- Nested grid container that stores buttons-->
    <div id="patient-dashboard-grid-container-nested">
        <h2 class="patient-dashboard-notifications-text">Notifications</h2>
        <h2 class="container-text"></h2>

        <button class="button01 white">Dose of insulin</button>

        <button class="button02">
            <h2>Recent Messages</h2>
<<<<<<< HEAD
            <p class="messages">No messages.</p>
=======
            <p class="center-text">No messages.</p>
>>>>>>> 5423a64ff5f2fdb11264a5902d6e27bc45cba512
        </button>
        <button class="button01 white">Blood glucose levels</button>
    </div>
</div>
<br>