<head>
    <link rel="stylesheet" href="record_data.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<br>
<h1 class="heading">Record Data</h1>
<br>

<!-- container that stores timestamps and data inputs (e.g. record health)-->
<div class="grid-container">
    <!-- Column 1 - radio button form-->
    <!-- Form should send selection - need to modify this code once we have databased sorted -->
    <div class="grid-timestamp">
        <form action="/send" method="POST">
            <h2 class="data-title">Timestamp</h2>
            <div class="radio1">
                <input name="timestamp-type" type="radio" value="Blood-Glucose">Blood Glucose<br>
            </div>
            <div class="radio2">
                <input name="timestamp-type" type="radio" value="Doses-of-Insulin">Doses of Insulin<br>
            </div>
            <div class="radio3">
                <input name="timestamp-type" type="radio" value="Weight">Weight<br>
            </div>
            <div class="radio4">
                <input name="timestamp-type" type="radio" value="Exercise">Exercise<br>
            </div>
        </div>
    <!-- Column 2 -->
 
    <!-- Grid container that stores inputs-->

        <div class="grid-inputs">
            <h2 class="data-title"><label for="measurement">Measurement</label></h2><br>
            <input type="text" id="measurement" name="measurement" placeholder="Enter number"><br>

            <h2 class="data-title"><label for="comments">Additional Comments</label></h2><br>
            <input type="text" id="comments" name="comments" placeholder="Type in comments">
        </div> 
       
    </div>
        <div class="submit_button">
            <input class="submit" type="submit" value="submit">
           </div>

        </form>

    
</div>

</body>
