<!-- Converted record_health.html to .hbs, wired to database, MISSING SOME CSS STYLES-->
<br>
<h1 class="heading">Record Data</h1>
<br>

<!-- container that stores timestamps and data inputs (e.g. record health)-->
<div class="grid-container">
    <!-- Column 1 - radio button form-->
    <!-- Form should send selection - need to modify this code once we have databased sorted -->
    <div class="grid-timestamp">
        <!-- saw this part online but not sure if relevant to us 'form action'-->
        <form method="POST" action="/post_values" >
            <h2 class="data-title">Timestamp</h2>
            <div class="radio1">
                <input type="radio" name="Selector" value="BloodGlucoseSelector" required>Blood Glucose<br>
                 <img src="../assets/blood glucose.png" class="timestamp-icon">
            </div>
            <div class="radio2">
                <input name="Selector" type="radio">Doses of Insulin<br>
                 <img src="../assets/insulin icon.png" class="timestamp-icon">
            </div>
            <div class="radio3">
                <input name="Selector" type="radio">Weight<br>
                <img src="../assets/Weight White ver.png" class="timestamp-icon">
            </div>
            <div class="radio4">
                <input name="Selector" type="radio">Exercise<br>
                <img src="../assets/exercise icon.png" class="timestamp-icon">
            </div>
        </div>
    <!-- Column 2 --> 
 
    <!-- Grid container that stores inputs-->

        <div class="grid-inputs">
            <h2 class="data-title"><label for="measurement">Measurement</label></h2><br>
            <input type="text" id="measurement" name="measurement" placeholder="Enter number" required><br>

            <h2 class="data-title"><label for="comment">Additional Comments</label></h2><br>
            <input type="text" id="comment" name="comment" placeholder="Type in comments">
        </div> 
       
    </div>
    <!-- Submit Button -->

            <input class="submit" type="submit" value="Submit">

        </form>
</div>