<body class="login_body">
    <div class="background">
        <div class="flexbox-form-container">
            <form class="loginform" action="/register" method="post">
                <h2 class="login_heading">REGISTER</h2>
                <div class="login_container">
                    <label for="username"><b>Username</b></label>
                    <input id="username" type="text" placeholder="Enter Username" name="username">

                    <label for="fname"><b>First Name</b></label>
                    <input id="fname" type="text" placeholder="Enter your first name" name="fname">

                    <label for="fname"><b>Last Name</b></label>
                    <input id="fname" type="text" placeholder="Enter your surname" name="lname">

                    <label for="psw"><b>Password</b></label>
                    <input id="psw" type="password" placeholder="Enter Password" name="password">
                    <label for="psw"><b>Confirm Password</b></label>
                    <input id="psw" type="password" placeholder="Verify Password" name="password2">
                    <br>
                    <button class="login_button">REGISTER</button>

                    <div class="acc-creation-text">
                        <div>Already have an account? <a href="login_page">Login.</a></div>
                    </div>

                </div>
            </form>
        </div>
    </div>