<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../public/css/login_thankyou.css">

</head>
<body>
    <div class ="thankyou-flexbox">
        <h1>Thank you!</h1>
        <br>
        <p>Your data has been successfully recorded!</p>
        <img src="../public/assets/thankyou_image.png" class= "thankyouimg">

            <div class="thankyou-buttons">
                <button class="ty-add-button">Add Another Entry</button>
                <button class="ty-return-button">Return to Dashboard</button>

            </div>
        </div>
    </div>
</body>
</html>
