<body>
    <div class ="thankyou-flexbox">
        <h1 class="heading">Thank you!</h1>
        <br>
        <p>Your data has been successfully recorded!</p>
        <img src="../assets/thankyou_image.png" class= "thankyouimg">

            <div class="thankyou-buttons">
                <button class="ty-add-button">Add Another Entry</button>
                <button class="ty-return-button">Return to Dashboard</button>
            </div>
        </div>
    </div>
</body>
