<body>
    <div class ="thankyou-flexbox">
        <h1 class="heading">Thank you!</h1>
        <br>
        <p>Your data has been successfully recorded!</p>
        <img src="../assets/thankyou_image.png" class= "thankyouimg">

            <div class="thankyou-buttons">
                <a class="ty-button purple1" href="record_health">Add Another Entry</a>
                <a class="ty-button purple2" href="patient_dashboard">Return to Dashboard</a>
            </div>
        </div>
    </div>
</body>
