/* headings */
.heading{
    text-align: center;
    color: #72a6e8;
    font-family: 'poppins', sans-serif;
    font-weight: bolder;
    font-size: 35px;
}

.data-title{
    color:#717273;
    font-size: 22px;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
}


