/*
README: The CSS is organized like this:
    - FONT AND DEFAULT VALUES
    - HEADER            CSS for navbar (Diabetes@Home logo, log in button, profile text etc)
    - SIDEBAR           CSS for sidebar that pops up when you click the hamburger icon on mobile
    - BODY              CSS for the body of a page goes here
    - FOOTER            CSS for footer (copyright text, logo etc)
    - GENERAL STYLES    Miscellaneous CSS (e.g. values for h1, h2)
    - MOBILE VIEW       CSS that ONLY activates on small screens (e.g. hamburger icon)          

    To keep things organized try and place your CSS in the relevant category :)
*/


/* ------------------------------------------------------------------------------------------------------------------------------- */
/* ||               FONT AND DEFAULT VALUES              */
/* Load custom Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Override CSS defaults custom values */
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Ensures that the footer always sticks to the bottom of the page */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



/* ------------------------------------------------------------------------------------------------------------------------------- */
/* ||               HEADER CSS              */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 12px 2%;               /* Padding padding on top and bottom, padding on sides. */
    background-color: #F7F7F7;
}

/* Header logo - add animation when hovering on logo */
.flexbox-navbar-logo {
    cursor:pointer;
    margin-right: auto;
    margin-top: 5px;
    transition: all 0.5s ease 0s;
}
.flexbox-navbar-logo:hover {
    transform: scale(1.1);
}

/* Header navbar button properties */
.flexbox-navbar-button {
    margin-left: 20px;
    padding: 12px 32px;
    background-color: #7D92DB;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.5s ease 0s;
}
/*  Header navbar button - animation upon hover */
.flexbox-navbar-button:hover {
    background-color: #72A6E8;
    transform: scale(1.1);
    /*font-size: 22px;*/
}

/* Header Hamburger - icon and animation upon hover */
.flexbox-navbar-hamburger {
    cursor:pointer;
    display:none;                   /* Hide the hamburger menu on big screens */
    transition: all 0.5s ease 0s;

}
.flexbox-navbar-hamburger:hover {
    transform: scale(1.1);
}
/*  Header Hamburger Bar - properties of the three lines that make up the burger */
.bar {
    width: 35px;
    height: 5px;
    background-color: #B5D2F6;
    margin: 6px 15px;
  }

/*  Header navbar links */
.flexbox-navbar-text {
    list-style: none;               /* Removes bullet points that appear before list elements on the navbar */
}
.flexbox-navbar-text li {
    display: inline-block;          /* Inline block makes it so that list elements appear horizontally */
    padding: 0px 20px;
}

.nav-msg-icon {
    margin-left: 16px;
    margin-right: 16px;
}

.nav-profile-icon {                       
    margin-left: 16px;
    margin-right: 16px;
}

.flexbox-navbar-profile {           /* The profile section on the top right */
    list-style: none;
}

.nav-username {
    color: #343434;
    font-size: 19px;
    font-weight: bold;
}
.nav-userstatus {                   
    color: #7D92DB;
    font-size: 14px;
}

/* Header navbar links - animation upon hover*/
.flexbox-navbar-text li a{
    transition: all 0.8s ease 0s;
}
.flexbox-navbar-text li a:hover{
    color:#72A6E8;
    font-size: 16.5px;
}



/* ------------------------------------------------------------------------------------------------------------------------------- */
/* ||               SIDEBAR CSS             */
/* The sidebar that appears from the left when a user click the hamburger icon*/
.sidebar {
    display: block;
    height: 100%;
    width: 10%;
    position:fixed;
    left: 0;
    top: 0;
    /* Setting z-index to -1 forces the sidebar to appear behind the page. */
    /* We want it to appear behind the page by default until someone has clicked the burger icon*/
    /*At that point, the z-index will change values to bring it on top of the page */
    z-index: -1; /* -1 forces it to appear behind the page.  */
}
.sidebar a {
    color: white;
}



/* ------------------------------------------------------------------------------------------------------------------------------- */
/* ||               BODY CSS                */
/* Main content - the 'body' of the website. The content in-between the header and the footer */
.flexbox-main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: left;
    flex-direction: column;
    padding: 10px 15%;   /* First value: padding top and bottom. Second value: padding on sides. */
    margin-right: auto;
}
.flexbox-main-content-lists {
    list-style-type: none;
}
.flexbox-main-content-lists li a {
    color: dodgerblue;
}

/*-------------------------------RECORD_HEALTH PAGES-------------------------------------*/



/*-------------------------------END RECORD_HEALTH PAGES---------------------------------*/

/*-------------------------------CLINICIAN PAGES-----------------------------------------*/
.clinician-title {
    margin-left: 5%;
}
.topbar {
    display: flex;
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 2%;
    flex-direction: row;
}
.searchbar {
    padding: 1px;
    border-radius: 10px;
    width: 73.5%;
    height: 40px;
    border: 3px solid #f5f5f5;
    display: flex;
    margin-right: 3%;
}

.search-icon {
    min-width: 23px;
    min-height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
    margin-left: 2px;
}

.InputContainer {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

input {
    padding: 6px 12px;
    border: none;
    display: block;
    font-weight: 600;
    width: 100%;
}

::placeholder {
    color: #c0c0c0;
}

input:focus {
outline: none;
color: black;
background-color: #F7F7F7;
}

.flexbox-sortby {
    padding-top: 8px;
    margin-right: 2%;
}
/*
.dropbtn {
    padding: 1px;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    border: 3px solid #f5f5f5;
    height: 40px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: gray;
  }
  
  .dropdown {
    width: 12%;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;} */

  select {
    margin-bottom: 2%;
    margin-top: 1%;
    color: black;
    outline: 0;
    padding: 4px;
    border-radius: 10px;
    border: 3px solid #f5f5f5;
    height: 40px;
  }
  
.flexbox-patient-overview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}
.flexbox-patient-individuals {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 175px;
    margin-bottom: 2%;
}
.grid-patient-item {
    height: 175px;
    width: 80%;
    border-radius: 20px;
    margin-bottom: 50px; 
    border: 3px solid #ececee;
    background-color: #f0f0f3;
    display: grid;
    grid-template-columns: [first] 32% [line2] 17% [line3] 17% [line4] 17% [line5] 17% [last-line];
    grid-template-rows: [first-row] 30% [second-row] 70% [last-row];
}
.grid-patient-profile {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;    
}
.flexbox-patient-profile {
    height: 60%;
    display: flex;
    flex-direction: row;
}
.patient-profile-icon {
    margin-left: 15%;
    margin-top: auto;
}
.patient-name {
    font-weight: 1000;
    margin-left: 10%;
    margin-top: 15%;
}
.patient-last-updated {
    color:#8a3ee2;
    font-size: small;
    margin-left: 10%;
}
.flexbox-patient-button {
    display: flex;
    flex-direction: row;
    height: 40%;
}
.patient-button {
    height: 50%;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    width: 38%;
    margin-left: 8%;
    margin-top: 4%;
    color: white;
    font-size: 90%;
    transition: all 0.5s ease 0s;
    filter: drop-shadow(4px 4px 3px #D4D4D4);
}
.patient-button:hover {
    transform: scale(1.05);
}

.grid-patient-category {
    grid-row-start: 1;
    grid-row-end: 2;
    border-left: 3px solid #ececee;
    border-bottom: 3px solid #ececee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
}
.grid-patient-data {
    grid-row-start: 2;
    grid-row-end: 3;
    border-left: 3px solid #ececee;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-patient-action-required {
    height: 175px;
    width: 20%;
    margin-bottom: 50px; 
    border: 3px solid #ececee;
    background-color: #f0f0f3;
    border-radius: 20px;
    margin-left: 3%;
    display: grid;
    grid-template-rows: [first-row] 30% [second-row] 70% [last-row];
}
.grid-patient-action-required-title {
    grid-row-start: 1;
    grid-row-end: 2;
    border-bottom: 3px solid #ececee;
    font-size: smaller;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-patient-action-required-comment {
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10%;
    font-size: smaller;
    overflow: auto;
}
.grid-comment {
    display: grid;
    width: 90%;
    height: 300px;
    margin-left: 5%;
    border-radius: 10px;
    border: 3px solid #ececee;
    grid-template-columns: [first-column] 20% [second-column] 20% [third-column] 45% [forth-column] 15% [last-column];
    grid-template-rows: [first-row] 20% [second-row] 16% [second-row] 16% [second-row] 16% [second-row] 16% [second-row] 16% [last-row];
    margin-bottom: 50px;
}
.grid-comment-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #ececee;
    border-right: 3px solid #ececee;
}
.link-cell {
    display: flex;
    justify-content: right;
    align-items: center;
    color: #A13376;
    text-decoration: underline;
    border-bottom: 3px solid #ececee;
    font-size: small;
}
.grid-no-right-border {
    border-right: none;
}
.grid-no-bottom-border {
    border-bottom: none;
}
/*------------------------------------END CLINICIAN PAGES--------------------------*/

/* Container that stores the YouTube videos */
.video-container {
    position: relative;
    overflow:hidden;
    /* The value below will display the video in 16:9 format */
    padding-bottom: 56.25%;
    height: 0;
}
.video-container iframe, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
}
/* Set the maximum size of the video and the alignment. */
.video-wrapper {
    width: 100%;
    max-width: 1280px;
    align-self: center;
}

.username {
    color: #343434;
    margin-bottom: 0%;
}
.ranking {
    color: #7D92DB;
    margin-top: 0%;
    margin-bottom: 0%;
}

#profile {
    text-align: center;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-left: 40%;
}

#patient-dashboard-grid-container {
    margin-left: 5%;
    margin-right: 15%;
    display: grid;
    /* grid-template-columns: 200px 200px; */
    grid-template-columns: 40% auto;
    align-items: center;
}

#patient-dashboard-grid-container-nested {
    max-width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: antiquewhite; */
}

.button01 {
    display: flex;
    min-height: 90px;
    max-width: 400px;
    border-radius: 38px;
    background-color: #72A6E8;
    color: white;
    filter: drop-shadow(4px 4px 3px #D4D4D4);
    margin: 3%;
    font-size: 24px;
    /* font-weight: bold; */
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1% 3% 1% 3%;
    border:none;
    cursor:pointer;
    transition: all 0.5s ease 0s;
}
.button01:hover {
    background-color: #8a3ee2;
    transform: scale(1.05);
    /*font-size: 22px;*/
}

.button02 {
    border-radius: 38px;
    max-width: 400px;
    background-color: #A13376;
    color: white;
    filter: drop-shadow(4px 4px 3px #D4D4D4);
    margin: 3%;
    text-align: center;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 4;
    border:none;
    cursor:pointer;
    transition: all 0.5s ease 0s;
}
.button02:hover {
    background-color: #8a3ee2;
    transform: scale(1.05);
    /*font-size: 22px;*/
}
.patient-dashboard-notifications-text{
    margin-left: 5%;
    color: #72A6E8;
    font-size: 24px;
}


/* ------------------------------------------------------------------------------------------------------------------------------- */
/* ||               FOOTER CSS              */
footer {
    background-color: #72A6E8;
    font-weight: bold;
    color:white;
    margin-top:auto;         /* Force footer to stick to bottom of page */
}

.flexbox-footer-container{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    flex-direction: column;
    align-items: left;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 15px 15%;
}

.flexbox-footer-row {
    flex-wrap: wrap;        /* When viewport gets smaller each item will wrap onto a new line */
    list-style: none;
    flex-direction: column;
    margin-bottom: 32px;
}
.flexbox-footer-row a {
    margin-bottom: 1px;
    font-weight: bold;
    color:white;
}
.flexbox-footer-logo {
    cursor:pointer;
    float:right;            /* Important! 'Float' allows the logo to be in the same line as the text. */
    display: block;         /* Right align the logo */
    margin-left: auto;      /* Right align the logo */
    margin-top: 5px;
    transition: all 0.8s ease 0s;
}
.flexbox-footer-logo:hover {
    transform: scale(1.05);
}
.flexbox-footer-row-horizontal {
    list-style: none;
    text-align: center;
}
.flexbox-footer-row-horizontal li {
    display: inline-block;  /* Inline block makes it so that list elements appear horizontally */
    padding-right: 8px;
    color:white;
}
.flexbox-footer-row-horizontal a {
    color:white;
}



/* ------------------------------------------------------------------------------------------------------------------------------- */
/* ||               GENERAL STYLES              */
.center {                       /* Centers a photo */
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 1100px;
    object-fit: cover;
}

/* Define font size and color for lists, html links and buttons */
li, a, button {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color:black;
}

/* Override the default h1 font-size to 32px. Necessary because h1 tags within a <section> render at 24px */ 
h1 {
    font-size: 35px;
}

/* Define values for heading tags */
h1{
    color:#72A6E8;
}

/* Allows images to scale with the browser window */
img {
	max-width: 100%;
	height: auto;
}

.heading {
    text-align: center;
    color: #72A6E8;
    margin-top: 0px;
    font-weight: bold;
}

.blue{
    background-color:#72A6E8;
}

.purple1 {
    background-color: #899CDE;
}
.purple2 {
    background-color: #8B7CC9;
}
.purple3 {
    background-color: #9765B2;
}
.white {
    background-color: #FFFFFF;
    color:black;
    filter: drop-shadow(1px 1px 3px #D4D4D4);
    border-style: solid;
    border-color: #E8E8E8;
    border-width: thin;
}
.bold {
    font-weight: 700;
}
.red-highlight {
    border: 5px solid rgba(255,0,0,0.5);
}

/* Login Page Styles*/
p {
    text-align: center;
    font-size: 20px;
}
.background {
    background-image: url("../assets/bg_image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.flexbox-form-container {
    display: flex;
    min-height: 100vh;
    max-width: 80vh;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
     /* Bordered form */
.loginform {
    border: 1px solid #E7E7E7;
    background-color: #FFFFFF;
    border-radius: 38px;
    filter: drop-shadow(4px 4px 3px #858484);
    padding-top: 15%;
    padding-bottom: 10%;
}

.login_heading{
    text-align: center;
    color: #000000;
    font-family: 'poppins', sans-serif;
    font-weight: bolder;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 38px;
    filter: drop-shadow(4px 4px 3px #D4D4D4);
}

/* Add padding to containers */
.login_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 10px 15%;   /* First value: padding top and bottom. Second value: padding on sides. */
}
.login_button {
    background-color: #7D92DB;
    color: white; padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    display: flex;
    border-radius: 38px;
    filter: drop-shadow(4px 4px 3px #D4D4D4);
    font-size: 20px;
    font-weight:bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease 0s;
}
  
  /* Add a hover effect for buttons */
.login_button:hover {
    opacity: 0.8;
    transform: scale(1.05);
    /*font-size: 22px;*/
}
.login_body {
    min-height: 100vh;
}
/* The "Forgot password" text */
.psw {
    display: flex;
    padding-top: 3%;
    padding-bottom: 5%;
    justify-content: space-between;
}
  
.acc-creation-text {
    display: flex;
    justify-content: center;
    padding-top: 4%;
}


/* Thankyou Page Styles */
.thankyou-flexbox {
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
.thankyou-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
  
.ty-button {
    display: flex;
    min-height: 90px;
    max-width: 400px;
    border-radius: 38px;
    color: white;
    filter: drop-shadow(4px 4px 3px #D4D4D4);
    margin: 1% 2% 1% 2%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1% 3% 1% 3%;
    border:none;
    cursor:pointer;
    transition: all 0.5s ease 0s;
}
.ty-button:hover {
    opacity: 0.8;
    transform: scale(1.05);
}
  
.thankyouimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    max-width: 350px;
}
/*Login and Thankyou Page Resizing*/
@media (max-width: 1020px) {
    .form, .flexbox-form-container {
      max-width: 600px;
    }
}
  
 @media (max-width: 800px) {
    .form, .flexbox-form-container {
      max-width: 500px;
    }
    .container {
      padding: 10px 12%;
    }
}
  
@media (max-width: 500px) {
    .form, .flexbox-form-container, p {
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
    .psw {
        display: flex;
        padding-top: 3%;
        padding-bottom: 5%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container {
        padding: 10px 10%;
    }
    .thankyou-buttons {
        flex-direction: column;
        max-width: 80vh;
        padding: 2% 6% 2% 6%;
    }
    .ty-button {
        font-size: 18px;
        min-height: 60px;
        margin: 3%;
        padding: 2% 0% 2% 0%;
        min-width: 250px;
    }
    .thankyouimg {
        width: 70%;
    }
}


/* ------------------------------------------------------------------------------------------------------------------------------- */
/* ||               MOBILE VIEW             */
/* When the size of the browser window is small, the following CSS rules will apply */
@media (max-width: 1000px) {
    /* Show burger icon */
    .flexbox-navbar-hamburger {
        display: block;
      }

    /* Hide navbar text */
    .flexbox-navbar-text  {
        display: none;
    }

    /* Hide username, user status and message icon */
    .flexbox-navbar-profile {
        display: none;
    }
    .nav-msg-icon {
        display:none;
    }
    .nav-profile-verticle-bar {
        display:none;
    }


    /* Activate the sidebar. Sidebar is only accessible when the user has clicked the burger icon */
    .sidebar.active {
        height: 100%;
        width: 38%;
        display: block;
        position:fixed;                     /* Ensure that the sidebar position is fixed in place */
        z-index: 1;                         /* Bring the sidebar on top of the current page */
        background-color: #72A6E8; 
        transition: 0.2s;                   /* Animation speed */
    }

    /* Positioning for the sidebar content */
    .sidebar-content {
        position: relative;
        top: 6%; 
        width: 100%; 
        text-align: left; 
        margin-left: 10px;
        margin-top: 40px; 
    }

    /* Make the button slightly smaller on small screens */
    .flexbox-navbar-button {
        /* font-size: 20px; */
        padding: 12px 20px;
    }

    #patient-dashboard-grid-container {
        grid-template-columns: 1fr;
        justify-items: center;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    #patient-dashboard-grid-container-nested {
        grid-template-columns: 1fr;
        width: 324px;
    }
    .heading {
        text-align: center;
    }
    .button01 {
        margin-bottom: 2%;
        /* min-width: 300px;   */
    }
    .patient-dashboard-notifications-text{
        text-align: center;
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .button02 {
        grid-column-start: 1;
        grid-row-start: 5;
        grid-row-end: 5;
        min-height: 124px;
    }

    #profile {
        text-align: center;
        margin:auto;
    }
 }

 /*--------------------------- Record data CSS --------------------------------- */
 /*subheadings*/
 .data-title{
    color:#717273;
    font-size: 22px;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
}

/* grid layout for form */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-column-gap: 100px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

/*responsive design - turn grid into flex */
@media (max-width: 1000px){
    .grid-container {
        display: flex;
        flex-direction: column;
    }
    
    .grid-timestamp{
        margin-bottom: 5%;
    }
    .grid-inputs{
        margin-bottom:20%
    }
    .submit{
        margin-bottom: 5%;
    }   
}

/*  timestamp section radio buttons  */
.timestamp-icon{
    height: 35px;
    width: 35px;
    min-width: 35px;
    min-height: 35px;
    margin-left: 10px;
    margin-right: 5%;
} 

input[name= "Selector"]{
     margin-left: 10%;
     min-height: 20px;
}

/* input[type="radio"]{s
    margin-left: 95px;
} */

.radiocircle {
    min-width: 64px;
}


.radioicon {
    display: flex;
    align-items: center;
}

.radiotext {
    min-width: 100px;
    display: flex;
    align-self: center;
    justify-content: flex-start;
    margin-left: 8%;

}

.radiocircle {
    display: flex;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-items: center;
    margin-right: 25%;
}

.radioContainer {
    min-width: 280px;
    display: grid;
    grid-template-columns: auto 2fr 1fr;
    margin-bottom: 4%;
    color: white;
    border-radius: 20px;
    text-align: left;
    font-size: 25px;
    font-family: 'poppins', sans-serif;
    height: 75px;
    padding-left: 5%;
    align-items: center;
}



.radio{
    margin-bottom: 4%;
    color: white;
    border-radius: 20px;
    text-align: left;
    font-size: 25px;
    font-family: 'poppins', sans-serif;
    height: 75px;
    padding-left: 5%;
    align-items: center;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    padding-right: 5%;
}

.radio2{
    background-color: #8b7cc9;
    margin-bottom: 4%;
    color: white;
    border-radius: 20px;
    text-align: left;
     font-size: 25px;
    height: 35px;
    font-family: 'poppins', sans-serif;
    height: 75px;
    display: flex;
    flex-direction: row;
}

.radio3{
    background-color: #7d92db;
    margin-bottom: 4%;
    color: white;
    border-radius: 20px;
    text-align: left;
    font-size: 25px;
    height: 35px;
    font-family: 'poppins', sans-serif;
    height: 75px;
    display: flex;
    flex-direction: row;
}

.radio4{
    background-color: #9765b2;
    margin-bottom: 4%;
    color: white;
    border-radius: 20px;
    text-align: left;
    font-size: 25px;
    height: 35px;
    font-family: 'Poppins', sans-serif;
    height: 75px;
    display: flex;
    flex-direction: row;
}

/* Measurement section */

input[id='measurement']{
    background-color: #FFFFFF;
    filter: drop-shadow(1px 1px 3px #d4d4d4);
    border-style: solid;
    border-color: #E8E8E8;
    border-width: thin;
    border-radius: 20px;
    outline: none;
    width: 100%;
    height: 75px;
    margin-bottom: 2%;
    margin-top: -20px;
}

input[placeholder='Enter number'] {
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    color: #8a8a8a;
    padding-left: 5%;
}

/* Additional Comments section */
input[id='comments']{
    background-color: #FFFFFF;
    filter: drop-shadow(1px 1px 3px #d4d4d4);
    border-style: solid;
    border-color: #E8E8E8;
    border-width: thin;
    border-radius: 20px;
    outline: none;
    width: 100%;
    height: 200px;
    margin-top: -20px;
}

input[placeholder='Type in comments'] {
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    color: #8a8a8a;
    padding-left: 5%;
    padding-bottom: 30%;
}

/* submit button */
.submit{
    text-align: center;
    display: block;
    font-size: 30px;
    font-family: 'poppins', sans-serif;
    color: white;
    background-color: #7D92DB;
    border-radius: 20px;
    border-style: none;
    width: 250px;
    min-height: 55px;
    padding: 0%;
    align-content: center;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10%;
    margin-bottom: 7%;
}

