/*
README: The CSS is organized like this:
    - FONT AND DEFAULT VALUES
    - HEADER            CSS for navbar (Diabetes@Home logo, log in button, profile text etc)
    - SIDEBAR           CSS for sidebar that pops up when you click the hamburger icon on mobile
    - BODY              CSS for the body of a page goes here
    - FOOTER            CSS for footer (copyright text, logo etc)
    - GENERAL STYLES    Miscellaneous CSS (e.g. values for h1, h2)
    - MOBILE VIEW       CSS that ONLY activates on small screens (e.g. hamburger icon)          

    To keep things organized try and place your CSS in the relevant category :)
*/


/* ------------------------------------------------------------------------------------------------------------------------------- */
/* ||               FONT AND DEFAULT VALUES              */
/* Load custom Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Override CSS defaults custom values */
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Ensures that the footer always sticks to the bottom of the page */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



/* ------------------------------------------------------------------------------------------------------------------------------- */
/* ||               HEADER CSS              */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 12px 2%;
    /* Padding padding on top and bottom, padding on sides. */
    background-color: #F7F7F7;
}

/* Header logo - add animation when hovering on logo */
.flexbox-navbar-logo {
    cursor: pointer;
    margin-right: auto;
    margin-top: 5px;
    transition: all 0.5s ease 0s;
}

.flexbox-navbar-logo:hover {
    transform: scale(1.1);
}

/* Header navbar button properties */
.flexbox-navbar-button {
    margin-left: 20px;
    padding: 12px 32px;
    background-color: #7D92DB;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

/*  Header navbar button - animation upon hover */
.flexbox-navbar-button:hover {
    background-color: #72A6E8;
    transform: scale(1.1);
    /*font-size: 22px;*/
}

/* Header Hamburger - icon and animation upon hover */
.flexbox-navbar-hamburger {
    cursor: pointer;
    display: none;
    /* Hide the hamburger menu on big screens */
    transition: all 0.5s ease 0s;

}

.flexbox-navbar-hamburger:hover {
    transform: scale(1.1);
}

/*  Header Hamburger Bar - properties of the three lines that make up the burger */
.bar {
    width: 35px;
    height: 5px;
    background-color: #B5D2F6;
    margin: 6px 15px;
}

/*  Header navbar links */
.flexbox-navbar-text {
    list-style: none;
    /* Removes bullet points that appear before list elements on the navbar */
}

.flexbox-navbar-text li {
    display: inline-block;
    /* Inline block makes it so that list elements appear horizontally */
    padding: 0px 20px;
}

.nav-logout-icon {
    height: 50px;
    width: 50px;
}

.nav-msg-icon {
    margin-left: 16px;
    margin-right: 16px;
}

.nav-profile-icon {
    margin-left: 16px;
    margin-right: 16px;
}

.flexbox-navbar-profile {
    /* The profile section on the top right */
    list-style: none;
}

.nav-username {
    color: #343434;
    font-size: 19px;
    font-weight: bold;
}

.nav-userstatus {
    color: #7D92DB;
    font-size: 14px;
}

/* Header navbar links - animation upon hover*/
.flexbox-navbar-text li a {
    transition: all 0.8s ease 0s;
}

.flexbox-navbar-text li a:hover {
    color: #72A6E8;
    font-size: 16.5px;
}



/* ------------------------------------------------------------------------------------------------------------------------------- */
/* ||               SIDEBAR CSS             */
/* The sidebar that appears from the left when a user click the hamburger icon*/
.sidebar {
    display: block;
    height: 100%;
    width: 10%;
    position: fixed;
    left: 0;
    top: 0;
    /* Setting z-index to -1 forces the sidebar to appear behind the page. */
    /* We want it to appear behind the page by default until someone has clicked the burger icon*/
    /*At that point, the z-index will change values to bring it on top of the page */
    z-index: -1;
    /* -1 forces it to appear behind the page.  */
}

.sidebar a {
    color: white;
}



/* ------------------------------------------------------------------------------------------------------------------------------- */
/* ||               BODY CSS                */
/* Main content - the 'body' of the website. The content in-between the header and the footer */
.flexbox-main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: left;
    flex-direction: column;
    padding: 10px 15%;
    /* First value: padding top and bottom. Second value: padding on sides. */
    margin-right: auto;
}

.flexbox-main-content-lists {
    list-style-type: none;
}

.flexbox-main-content-lists li a {
    color: dodgerblue;
}

/*-------------------------------RECORD_HEALTH PAGES-------------------------------------*/



/*-------------------------------END RECORD_HEALTH PAGES---------------------------------*/

/*-------------------------------CLINICIAN PAGES-----------------------------------------*/
.header-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2%;
}

.header-items {
    display: flex;
    border-radius: 38px;
    background-color: #72A6E8;
    color: white;
    filter: drop-shadow(4px 4px 3px #D4D4D4);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    padding: 1% 2% 1% 2%;
    border: none;
    transition: all 0.5s ease 0s;
}

.patients-item {
    width: 22.5%;
    margin: 1.5% 1% 1.5% 1%;
    cursor: default;
}

.data-item {
    width: 48%;
    margin: 1.5% 2.5% 1.5% 0%;
    cursor: default;
}

.comments-button {
    width: 18%;
    cursor: pointer;
    margin: 1.5% 3% 1.5% 0%;
}

.comments-button:hover {
    background-color: #8a3ee2;
    transform: scale(1.05);
    /*font-size: 22px;*/
}

.topbar {
    display: flex;
    margin-top: 1%;
    margin-left: 5%;
    flex-direction: row;
}

.searchbar {
    padding: 1px;
    border-radius: 10px;
    width: 73.5%;
    height: 40px;
    border: 3px solid #f5f5f5;
    display: flex;
    margin-right: 3%;
}

.search-icon {
    min-width: 23px;
    min-height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
    margin-left: 2px;
}

.InputContainer {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

input {
    padding: 6px 12px;
    border: none;
    display: block;
    font-weight: 600;
    width: 100%;
}

::placeholder {
    color: #c0c0c0;
}

input:focus {
    outline: none;
    color: black;
    background-color: #F7F7F7;
}

.flexbox-sortby {
    font-size: 15px;
    padding-top: 8px;
    margin-right: 1%;
}

/*
.dropbtn {
    padding: 1px;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    border: 3px solid #f5f5f5;
    height: 40px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: gray;
  }
  
  .dropdown {
    width: 12%;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;} */

select {
    margin-bottom: 2%;
    margin-top: 1%;
    color: black;
    outline: 0;
    padding: 4px;
    border-radius: 10px;
    border: 3px solid #f5f5f5;
    height: 40px;
}

.flexbox-patient-overview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.flexbox-patient-individuals {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 175px;
    margin-bottom: 2%;
}

.grid-patient-item {
    height: 175px;
    width: 80%;
    border-radius: 20px;
    margin-bottom: 50px;
    border: 3px solid #ececee;
    background-color: #f0f0f3;
    display: grid;
    grid-template-columns: [first] 32% [line2] 17% [line3] 17% [line4] 17% [line5] 17% [last-line];
    grid-template-rows: [first-row] 30% [second-row] 70% [last-row];
}

.grid-patient-profile {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.flexbox-patient-profile {
    height: 60%;
    display: flex;
    flex-direction: row;
}

.patient-profile-icon {
    margin-left: 12%;
    margin-top: auto;
}

.patient-name {
    font-weight: 1000;
    margin-left: 25px;
    margin-top: 15%;
}

.patient-last-updated {
    color: #8a3ee2;
    font-size: small;
    margin-left: 25px;
}

.flexbox-patient-button {
    display: flex;
    flex-direction: row;
    height: 40%;
}

.patient-button {
    height: 50%;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    width: 38%;
    margin: auto;
    padding: 1%;
    color: white;
    font-size: 90%;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    filter: drop-shadow(4px 4px 3px #D4D4D4);
    text-align: center;
    line-height: 25px;
}

.patient-button:hover {
    transform: scale(1.05);
}

.grid-patient-category {
    grid-row-start: 1;
    grid-row-end: 2;
    border-left: 3px solid #ececee;
    border-bottom: 3px solid #ececee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
}

.grid-patient-data {
    grid-row-start: 2;
    grid-row-end: 3;
    border-left: 3px solid #ececee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-patient-data-exceeded {
    grid-row-start: 2;
    grid-row-end: 3;
    border-left: 3px solid #ececee;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: #e713139f;
    font-weight: bold;
}

.grid-patient-action-required {
    height: 175px;
    width: 20%;
    margin-bottom: 50px;
    border: 3px solid #ececee;
    background-color: #f0f0f3;
    border-radius: 20px;
    margin-left: 3%;
    display: grid;
    grid-template-rows: [first-row] 30% [second-row] 70% [last-row];
}

.grid-patient-action-required-title {
    grid-row-start: 1;
    grid-row-end: 2;
    border-bottom: 3px solid #ececee;
    font-size: smaller;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-patient-action-required-comment {
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: smaller;
    overflow: auto;
}

.grid-comment {
    display: grid;
    width: 90%;
    height: 300px;
    margin-left: 5%;
    border-radius: 10px;
    border: 3px solid #ececee;
    grid-template-columns: [first-column] 20% [second-column] 20% [third-column] 45% [forth-column] 15% [last-column];
    grid-template-rows: [first-row] 20% [second-row] 16% [second-row] 16% [second-row] 16% [second-row] 16% [second-row] 16% [last-row];
    margin-bottom: 50px;
}

.grid-comment-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #ececee;
    border-right: 3px solid #ececee;
}

.link-cell {
    display: flex;
    justify-content: right;
    align-items: center;
    color: #A13376;
    text-decoration: underline;
    border-bottom: 3px solid #ececee;
    font-size: small;
}

.grid-no-right-border {
    border-right: none;
}

.grid-no-bottom-border {
    border-bottom: none;
}

/*------------------------------------END CLINICIAN PAGES--------------------------*/

/* Container that stores the YouTube videos */
.video-container {
    position: relative;
    overflow: hidden;
    /* The value below will display the video in 16:9 format */
    padding-bottom: 56.25%;
    height: 0;
}

.video-container iframe,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

/* Set the maximum size of the video and the alignment. */
.video-wrapper {
    width: 100%;
    max-width: 1280px;
    align-self: center;
}

.username {
    color: #343434;
    margin-bottom: 0%;
}

.ranking {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
}

.badge {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.engagementCard {
    background-image: linear-gradient(40deg,#39CCFF 0%,#8C90EE 45%,#D16BA5 100%);
    display: grid;
    padding: 10%;
    border-radius: 30px;
    margin: 0% 15% 15% 15%;
    justify-content: center;
    align-items: center;
}

.center-text {
    text-align: center;
}

#profile {
    text-align: center;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-left: 40%;
}

#patient-dashboard-grid-container {
    margin-left: 5%;
    margin-right: 15%;
    display: grid;
    /* grid-template-columns: 200px 200px; */
    grid-template-columns: 40% auto;
    align-items: center;
}

#patient-dashboard-grid-container-nested {
    max-width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: antiquewhite; */
}

.dataToRecord {
    display: flex;
    min-height: 40px;
    max-width: 400px;
    border-radius: 38px;
    background-color: #72A6E8;
    color: white;
    filter: drop-shadow(4px 4px 3px #D4D4D4);
    margin: 3%;
    font-size: 24px;
    /* font-weight: bold; */
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1% 3% 1% 3%;
    border: none;
}


.button01 {
    display: flex;
    min-height: 90px;
    max-width: 400px;
    border-radius: 38px;
    background-color: #72A6E8;
    color: white;
    filter: drop-shadow(4px 4px 3px #D4D4D4);
    margin: 3%;
    font-size: 24px;
    /* font-weight: bold; */
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1% 3% 1% 3%;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.button01:hover {
    background-color: #8a3ee2;
    transform: scale(1.05);
    /*font-size: 22px;*/
}

.button02 {
    border-radius: 38px;
    max-width: 950px;
    background-color: #A13376;
    color: white;
    filter: drop-shadow(4px 4px 3px #D4D4D4);
    margin: 2%;
    padding: 5%;
    text-align: center;
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-end: 6;
    border: none;
    transition: all 0.5s ease 0s;
}

.button02:hover {
    background-color: #8a3ee2;
    /*font-size: 22px;*/
}

.patient-dashboard-notifications-text {
    margin-left: 2%;
    color: #72A6E8;
    font-size: 24px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
}

.patient-dashboard-notifications-text2 {
    margin-left: 2%;
    grid-column-start: 1;
    grid-column-end: 3;
}

.button03 {
    display: flex;
    min-height: 60px;
    min-width: 270px;
    max-width: 400px;
    border-radius: 38px;
    background-color: #72A6E8;
    color: white;
    filter: drop-shadow(4px 4px 3px #D4D4D4);
    margin: 3%;
    font-size: 24px;
    /* font-weight: bold; */
    text-align: center;
    align-items: center;
    justify-content: center;

    border: none;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.button03:hover {
    background-color: #8a3ee2;
    transform: scale(1.05);
    /*font-size: 22px;*/
}

.button04 {
    display: flex;
    min-height: 60px;
    min-width: 270px;
    max-width: 400px;
    border-radius: 38px;
    background-color: #72A6E8;
    color: white;
    filter: drop-shadow(4px 4px 3px #D4D4D4);
    margin: 3%;
    font-size: 24px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: all 0.9s ease 0s;
}

.button04:hover {
    background-color: #8a3ee2;
    /* transform: scale(1.01); */
    /*font-size: 22px;*/
}


/*--------------------------- Record data CSS --------------------------------- */
/*subheadings*/
.data-title {
    color: #717273;
    font-size: 22px;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
}

/* grid layout for form */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

/*responsive design - turn grid into flex */
@media (max-width: 1000px) {
    .grid-container {
        display: flex;
        flex-direction: column;
    }

    .grid-timestamp {
        margin-bottom: 5%;
    }

    .grid-inputs {
        margin-bottom: 5%
    }

    .submit {
        margin-top: 3%;
        margin-bottom: 10%;
    }

}

/*  timestamp section radio buttons  */
.timestamp-icon {
    height: 35px;
    width: 35px;
    min-width: 35px;
    min-height: 35px;
    margin-left: 10px;
    margin-right: 5%;
}

input[name="Selector"] {
    margin-left: 10%;
    min-height: 20px;
}

.radiocircle {
    min-width: 64px;
}

.radioicon {
    display: flex;
    align-items: center;
}

.radiotext {
    min-width: 100px;
    display: flex;
    align-self: center;
    justify-content: flex-start;
    margin-left: 8%;

}

.radiocircle {
    display: flex;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-items: right;
    margin-right: 5%;
}

.radioContainer {
    min-width: 280px;
    display: grid;
    grid-template-columns: auto 2fr 1fr;
    margin-bottom: 4%;
    color: white;
    border-radius: 20px;
    text-align: left;
    font-size: clamp(18px, 2vw, 25px);
    font-family: 'poppins', sans-serif;
    height: 75px;
    padding-left: 5%;
    align-items: center;
}

.radioContainer:hover {
    transform: scale(1.05);
    border: 2px solid #121212;
    transition: all 0.5s ease 0s;
}

.guidance-dotpoint {
    margin-left: 5%;
}

/* 
.radio{
    margin-bottom: 4%;
    color: white;
    border-radius: 20px;
    text-align: left;
    font-size: 25px;
    font-family: 'poppins', sans-serif;
    height: 75px;
    padding-left: 5%;
    align-items: center;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    padding-right: 5%;
}

.radio2{
    background-color: #8b7cc9;
    margin-bottom: 4%;
    color: white;
    border-radius: 20px;
    text-align: left;
     font-size: 25px;
    height: 35px;
    font-family: 'poppins', sans-serif;
    height: 75px;
    display: flex;
    flex-direction: row;
}

.radio3{
    background-color: #7d92db;
    margin-bottom: 4%;
    color: white;
    border-radius: 20px;
    text-align: left;
    font-size: 25px;
    height: 35px;
    font-family: 'poppins', sans-serif;
    height: 75px;
    display: flex;
    flex-direction: row;
}

.radio4{
    background-color: #9765b2;
    margin-bottom: 4%;
    color: white;
    border-radius: 20px;
    text-align: left;
    font-size: 25px;
    height: 35px;
    font-family: 'Poppins', sans-serif;
    height: 75px;
    display: flex;
    flex-direction: row;
} */

/* Measurement section */

input[id=measurement] {
    background-color: #FFFFFF;
    filter: drop-shadow(1px 1px 3px #d4d4d4);
    border-style: solid;
    border-color: #E8E8E8;
    border-width: thin;
    border-radius: 20px;
    outline: none;
    width: 100%;
    height: 75px;
    margin-bottom: 2%;
}

input[placeholder='Enter number'] {
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    padding-left: 5%;
}

/* Additional Comments section */
.comments {
    background-color: #FFFFFF;
    filter: drop-shadow(1px 1px 3px #d4d4d4);
    font-size: 18px;
    font-weight: 600;
    border-style: solid;
    border-color: #E8E8E8;
    border-width: thin;
    border-radius: 20px;
    padding-left: 5%;
    padding-top: 5%;
    outline: none;
    width: 100%;
    min-height: 200px;
    height: 45%;
}

textarea::placeholder {
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

/* submit button */
.submit {
    text-align: center;
    display: block;
    font-size: 30px;
    font-family: 'poppins', sans-serif;
    color: white;
    background-color: #7D92DB;
    border-radius: 20px;
    width: 230px;
    min-height: 55px;
    padding: 0%;
    align-content: center;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.alert {
    color: red;
    font-size: smaller;
    text-align: center;
}



/* Clinician Dashboard - Patient Specifics Page */
#patient-specifics-topbar {
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 4%;
    padding-right: 4%;

}

#patient-specifics-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 16px;
    /* background-color:#8B7CC9; */
    padding-left: 4%;
    padding-right: 4%;
}

.patient-specifics-pfp {
    /* border:1px solid black; */
}

.patient-specifics-userbox {
    border: 5px solid #eeeeee;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.patient-specifics-userbox-subgrid {
    /* border:1px solid red; */
    display: grid;
    place-items: center;
    /* Used to center stuff. Really useful */
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.patient-specifics-name {
    padding-top: 20px;
    padding-bottom: 10px;
}

.patient-specifics-table {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 40%;
    /* grid-template-rows: repeat(999, auto) repeat(3, 1fr); */
    grid-auto-rows: 60px;
    border: 5px solid #eeeeee;
    border-radius: 25px;
}

.patient-specifics-table-attachedData {
    grid-template-columns: 20% 20% 20% 20% 20%;
}


.patient-specifics-table-header {
    /* border-left: 3px solid #ececee;
    border-bottom: 3px solid #ececee; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.patient-specifics-table-data {
    /* grid-row-start: 2;
    grid-row-end: 3;
    border-left: 3px solid #ececee; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eeeeee;
}

.patient-specifics-table-data-exceeded {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eeeeee;
    color: rgb(0, 0, 0);
    background-color: #e713139f;
    font-weight: bold;
}

.patient-specifics-notes-container {
    grid-column-start: 1;
    grid-column-end: 3;
    border: 5px solid #eeeeee;
    border-radius: 25px;
    padding: 10px;
    background-color: #f0f0f3a2;
}

.clinician-notes {
    display: grid;
    grid-template-columns: 12% 12% 76%;
}

.clinician-notes-cell {
    font-size: 20px;
    border: 1px solid #eeeeee57;
}

.scroll {
    max-height: 125px;
    overflow: auto;
}

.patient-specifics-overview-container {
    padding-left: 4%;
    padding-right: 4%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-column-gap: 16px;
}

.patient-specifics-grid-title {
    padding-top: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.patient-specifics-graph {
    padding: 10px;
    border: 5px solid #eeeeee;
    border-radius: 25px;
}

.patient-specifics-month {
    padding: 10px;
    border: 5px solid #eeeeee;
    border-radius: 25px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.329);
    border-radius: 25px;
    z-index: 10;
    background-color: #f7f7f7;
    width: 800px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);

}

.modal-header {
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header .title {
    font-size: 1.60rem;
    font-weight: bold;
    padding-top: 8px;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-current-values{
    padding: 10px 15px;

}

.modal-body {
    padding: 10px 15px;
    display: grid;
    grid-template-columns: 50% 25% 25%;
}


.modal-button {
    display: flex;
    min-height: 90px;
    max-width: 400px;
    border-radius: 38px;
    background-color: #72A6E8;
    color: white;
    filter: drop-shadow(4px 4px 3px #D4D4D4);
    margin: 3%;
    font-size: 24px;
    /* font-weight: bold; */
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1% 3% 1% 3%;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.modal-button:hover {
    background-color: #8a3ee2;
    transform: scale(1.05);
    /*font-size: 22px;*/
}


.modal-submit {
    text-align: center;
    display: block;
    font-size: 30px;
    font-family: 'poppins', sans-serif;
    color: white;
    background-color: #7D92DB;
    border-radius: 20px;
    width: 500px;
    min-height: 55px;
    padding: 0%;
    align-content: center;
    justify-items: center;
    margin-left: 45%;
    margin-right: auto;
    margin-bottom: 20px;
}

.modal-note{
    font-size: 15px;
}


#backgroundMasker {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#backgroundMasker.active {
    opacity: 1;
    pointer-events: all;
}


.checkbox {
    display: inline-block;
    margin-bottom: 20px;
}

.checkbox input {
    width: auto;
}

.popup-input-box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[id="popup-input-box"] {
    display: flex;
    align-self: flex-start;
    max-width: 100px;
    height: 40px;
    border: 1px solid black;
}

input[id="clinicanNote"] {
    /* margin-top: 12px; */
    /* border:2px solid #eeeeee; */
    /* border-radius: 15px; */
    font-size: 18px;
    font-weight: 200;
    color: #000000;
    background-color: #f0f0f3a2;
    text-align: center;
}

.clin-note-submit-btn {
    width: 300px;
    background-color: #f0f0f3a2;
}


/* ------------------------------------------------------------------------------------------------------------------------------- */
/* ||               FOOTER CSS              */
footer {
    background-color: #72A6E8;
    font-weight: bold;
    color: white;
    margin-top: auto;
    /* Force footer to stick to bottom of page */
}

.flexbox-footer-container {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    flex-direction: column;
    align-items: left;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 15px 15%;
}

.flexbox-footer-row {
    flex-wrap: wrap;
    /* When viewport gets smaller each item will wrap onto a new line */
    list-style: none;
    flex-direction: column;
    margin-bottom: 32px;
}

.flexbox-footer-row a {
    margin-bottom: 1px;
    font-weight: bold;
    color: white;
}

.flexbox-footer-logo {
    cursor: pointer;
    float: right;
    /* Important! 'Float' allows the logo to be in the same line as the text. */
    display: block;
    /* Right align the logo */
    margin-left: auto;
    /* Right align the logo */
    margin-top: 5px;
    transition: all 0.8s ease 0s;
}

.flexbox-footer-logo:hover {
    transform: scale(1.05);
}

.flexbox-footer-row-horizontal {
    list-style: none;
    text-align: center;
}

.flexbox-footer-row-horizontal li {
    display: inline-block;
    /* Inline block makes it so that list elements appear horizontally */
    padding-right: 8px;
    color: white;
}

.flexbox-footer-row-horizontal a {
    color: white;
}

/* ----------------- HISTORY CSS---------------------*/

.history-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5%;
}

.history-title {
    display: flex;
    width: 90%;
    height: 45px;
    border-radius: 15px;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    filter: drop-shadow(4px 4px 3px #D4D4D4);
    align-self: center;
}

.history-icon {
    width: 10%;
    justify-content: center;
    display: flex;
    align-self: center;
    height: 100%;
}

.timestamp-history {
    width: 35%;
}

.measurement-history {
    width: 25%;
}

.date-history {
    width: 15%;
    justify-content: center;
}

.time-history {
    width: 15%;
    justify-content: center;
}

.history-row {
    display: flex;
    width: 90%;
    height: 45px;
    border-radius: 15px;
    margin-bottom: 20px;
    /* color: black; */
    filter: drop-shadow(4px 4px 3px #D4D4D4);
    align-self: center;
    transition: 0.25s;
    border: 2px solid #ececee;
    background-color: #f0f0f3;

}

.history-pic {
    height: 40px;
    width: 40px;
    align-self: center;
    filter: opacity(0.5) drop-shadow(0 0 0 #0024a5);
}

.history-data {
    width: 100%;
    height: 100%;
    display: flex;
    font-weight: bold;
}

.history-row:hover {
    background-color: #72A6E8;
    border: 2px solid #72A6E8;
}

.history-row .history-comment {
    display: none;
}

.history-row:hover .history-data {
    display: none;
}

.history-row:hover .history-comment {
    display: flex;
    height: 100%;
    color: white;
    width: 100%;
}

.history-row:hover .history-pic {
    height: 40px;
    width: 40px;
    align-self: center;
    filter: none;
    overflow: auto;
}

.center-hist {
    align-items: center;
    display: flex;
}



/* ----------------- PATIENT COMMENTS CSS---------------------*/
.comments-grid-container {
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
}

.comments-grid-table {
    display: grid;
    grid-template-columns: 15% 10% 75%;
    /* border:2px solid #eeeeee;
    border-radius: 25px; */
}

.comments-table-cell-datetime {
    display: grid;
    border: 1px solid #eeeeee;
}

.comments-table-cell {
    display: grid;
    grid-template-columns: 70% 30%;
    border: 1px solid #eeeeee;
}

.comments-table-cell-link {
    width: fit-content;
    block-size: fit-content;
    color: #b45d92;
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
    font-size: 14px;
    justify-self: end;
    margin-top: 10px;
    cursor: pointer;
}

.comments-table-cell-header {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comments-table-cell-text {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cell-text-bold {
    font-weight: 600;
}



/* ------------------------------------------------------------------------------------------------------------------------------- */
/* ||               GENERAL STYLES              */
.center {
    /* Centers a photo */
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 1100px;
    object-fit: cover;
}

/* Define font size and color for lists, html links and buttons */
li,
a,
button {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

/* Override the default h1 font-size to 32px. Necessary because h1 tags within a <section> render at 24px */
h1 {
    font-size: 35px;
}

/* Define values for heading tags */
h1 {
    color: #72A6E8;
}

/* Allows images to scale with the browser window */
img {
    max-width: 100%;
    height: auto;
}

.heading {
    text-align: center;
    color: #72A6E8;
    margin-top: 0px;
    font-weight: bold;
}

.blue {
    background-color: #72A6E8;
}

.blue-text {
    color: #72A6E8;
}

.purple1 {
    background-color: #899CDE;
}

.purple2 {
    background-color: #8B7CC9;
}

.purple3 {
    background-color: #9765B2;
}

.white {
    background-color: #FFFFFF;
    color: black;
    filter: drop-shadow(1px 1px 3px #D4D4D4);
    border-style: solid;
    border-color: #E8E8E8;
    border-width: thin;
}

.bold {
    font-weight: 700;
}

.red-highlight {
    border: 5px solid rgba(255, 0, 0, 0.5);
}

/* Login Page Styles*/
p {
    text-align: left;
    font-size: 20px;
}

.background {
    background-image: url("../assets/bg_image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.flexbox-form-container {
    display: flex;
    min-height: 100vh;
    max-width: 80vh;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

/* Bordered form */
.loginform {
    border: 1px solid #E7E7E7;
    background-color: #FFFFFF;
    border-radius: 38px;
    filter: drop-shadow(4px 4px 3px #858484);
    padding-top: 15%;
    padding-bottom: 10%;
}

.login_heading {
    text-align: center;
    color: #000000;
    font-family: 'poppins', sans-serif;
    font-weight: bolder;
}

/* Full-width inputs */
input[id=username],
input[id=psw],
input[id=fname],
input[id=lname] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 38px;
    filter: drop-shadow(4px 4px 3px #D4D4D4);
}

/* Add padding to containers */
.login_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 10px 15%;
    /* First value: padding top and bottom. Second value: padding on sides. */
}

.login_button {
    background-color: #7D92DB;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    display: flex;
    border-radius: 38px;
    filter: drop-shadow(4px 4px 3px #D4D4D4);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease 0s;
}

/* Add a hover effect for buttons */
.login_button:hover {
    opacity: 0.8;
    transform: scale(1.05);
    /*font-size: 22px;*/
}

.login_body {
    min-height: 100vh;
}

/* The "Forgot password" text */
.psw {
    display: flex;
    padding-top: 3%;
    padding-bottom: 5%;
    justify-content: space-between;
}

.acc-creation-text {
    display: flex;
    justify-content: center;
    padding-top: 4%;
}

.topbar-tree {
    font-size: 16px;
    display: inline;
}

.ul-text {
    text-decoration: underline;
}






/* Thankyou Page Styles */
.thankyou-flexbox {
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.thankyou-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.ty-button {
    display: flex;
    min-height: 90px;
    max-width: 400px;
    border-radius: 38px;
    color: white;
    filter: drop-shadow(4px 4px 3px #D4D4D4);
    margin: 1% 2% 1% 2%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1% 3% 1% 3%;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.ty-button:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.thankyouimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    max-width: 350px;
}

/*Login and Thankyou Page Resizing*/
@media (max-width: 1020px) {

    .form,
    .flexbox-form-container {
        max-width: 600px;
    }
}

@media (max-width: 800px) {

    .form,
    .flexbox-form-container {
        max-width: 500px;
    }

    .container {
        padding: 10px 12%;
    }
}

@media (max-width: 500px) {

    .form,
    .flexbox-form-container,
    p {
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }

    .psw {
        display: flex;
        padding-top: 3%;
        padding-bottom: 5%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        padding: 10px 10%;
    }

    .thankyou-buttons {
        flex-direction: column;
        max-width: 80vh;
        padding: 2% 6% 2% 6%;
    }

    .ty-button {
        font-size: 18px;
        min-height: 60px;
        margin: 3%;
        padding: 2% 0% 2% 0%;
        min-width: 250px;
    }

    .thankyouimg {
        width: 70%;
    }
}


/* ------------------------------------------------------------------------------------------------------------------------------- */
/* ||               MOBILE VIEW             */
/* When the size of the browser window is small, the following CSS rules will apply */
@media (max-width: 1000px) {

    .engagementCard {
        grid-template-columns: 40% auto;
        align-items: center;
    }

    .rankingBox {
        color: white;
        font-size: 18px;
        font-weight: bold;
        margin: 10px 20px 10px 0px;
        text-align: center;
    }

    .ranking {
        color: white;
        font-size: 15px;
        font-weight: 600;
        text-align: left;
    }

    .patient-dashboard-notifications-text2 {
        text-align: center;
    }

    .badge {
        margin: 10px 20px 10px 20px;
    }

    /* Show burger icon */
    .flexbox-navbar-hamburger {
        display: block;
    }

    /* Hide navbar text */
    .flexbox-navbar-text {
        display: none;
    }

    /* Hide username, user status and message icon */
    .flexbox-navbar-profile {
        display: none;
    }

    .nav-msg-icon {
        display: none;
    }

    .nav-profile-verticle-bar {
        display: none;
    }


    /* Activate the sidebar. Sidebar is only accessible when the user has clicked the burger icon */
    .sidebar.active {
        height: 100%;
        width: 38%;
        display: block;
        position: fixed;
        /* Ensure that the sidebar position is fixed in place */
        z-index: 1;
        /* Bring the sidebar on top of the current page */
        background-color: #72A6E8;
        transition: 0.2s;
        /* Animation speed */
    }

    /* Positioning for the sidebar content */
    .sidebar-content {
        position: relative;
        top: 6%;
        width: 100%;
        text-align: left;
        margin-left: 10px;
        margin-top: 40px;
    }

    /* Make the button slightly smaller on small screens */
    .flexbox-navbar-button {
        /* font-size: 20px; */
        padding: 12px 20px;
    }

    #patient-dashboard-grid-container {
        grid-template-columns: 1fr;
        justify-items: center;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    #patient-dashboard-grid-container-nested {
        grid-template-columns: 1fr;
        width: 324px;
    }

    .heading {
        text-align: center;
    }

    .button01 {
        margin-bottom: 2%;
        /* min-width: 300px;   */
    }

    .patient-dashboard-notifications-text {
        text-align: center;
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .dataToRecord {
        grid-column-start: 1;

    }

    .button02 {
        grid-column-start: 1;
        grid-row-start: 5;
        grid-row-end: 7;
        padding: 5%;
        min-height: 124px;
    }

    #profile {
        text-align: center;
        margin: auto;
    }

    .history-title {
        font-size: 70%;
    }

    .timestamp-history {
        width: 30%;
    }

    .measurement-history {
        width: 20%;
    }

    .date-history {
        width: 25%;
        justify-content: center;
    }

    .time-history {
        width: 20%;
        justify-content: center;
    }

    .history-data {
        font-size: 70%;
    }

    .history-pic {
        height: 30px;
        width: 30px;
        display: flex;
    }

    .history-row:hover .history-pic {
        height: 30px;
        width: 30px;
    }

    .innerbound {
        flex-direction: column;
    }

    .placeholderimg {
        align-self: center;
    }
}

/*----------------------------------------------------------------------------------------------------------------------*/
/*Leaderboard CSS -- work in progress, need to make responsive*/

/* headings */
.LB-heading {
    text-align: center;
    color: #72a6e8;
    font-family: 'poppins', sans-serif;
    font-weight: bolder;
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.top-title {
    color: #717273;
    font-size: 22px;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
}

/* overall container */
.leaderboard-container {
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-bottom: 7%;
    padding-top: 20px;
}

/* top 3 visuals at the top */
.leaderboard-image-flex {
    display: flex;
    background-color: #EAF3FF;
    border-radius: 20px;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-right: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    align-items: baseline;
    min-height: 170px;
}

.place {
    padding-left: 9%;
    padding-right: 9%;
    justify-items: center;
    align-items: center;
}

.user-labels {
    text-align: center;
    font-family: 'poppins', sans-serif;
    color: #717273;
    font-size: 15px;
}

/* end of top 3 section */
/* top 5 leaderboard list */

/* top 3 */
.board-icon {
    height: 36px;
    width: 36px;
    align-self: center;
}

.board-label {
    font-family: 'poppins', sans-serif;
    color: black;
    font-size: 18px;
    padding-top: 15px;
    margin-left: 20px;
}

.user-score {
    font-family: 'poppins', sans-serif;
    color: black;
    margin: auto;
    margin-right: 5%;
}


.top-1 {
    display: flex;
    background-color: #72a6e8;
    border-radius: 15px;
    height: 55px;
    padding-left: 2%;
    margin-top: 20px;
}

.top-2 {
    display: flex;
    background-color: #9765b2;
    border-radius: 15px;
    height: 55px;
    padding-left: 2%;
    margin-top: 20px;
}

.top-3 {
    display: flex;
    background-color: #9F4D96;
    border-radius: 15px;
    height: 55px;
    padding-left: 2%;
    margin-top: 20px;
}

/*4th and 5th */
.board-label-2 {
    font-family: 'poppins', sans-serif;
    color: black;
    font-size: 18px;
    padding-top: 15px;
    margin-left: 20px;
}


.user-score-2 {
    font-family: 'poppins', sans-serif;
    color: black;
    margin: auto;
    margin-right: 5%;
}

.top-others {
    display: flex;
    background-color: white;
    border-radius: 15px;
    filter: drop-shadow(1px 1px 3px #d4d4d4);
    border-style: solid;
    border-color: #E8E8E8;
    border-width: thin;
    height: 55px;
    padding-left: 2%;
    margin-top: 20px;
}

.backURL {
    display: flex;
    min-height: 90px;
    /* max-width: 4000px; */
    border-radius: 38px;
    background-color: #72A6E8;
    color: white;
    filter: drop-shadow(4px 4px 3px #D4D4D4);
    font-size: 32px;
    /* font-weight: bold; */
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1% 3% 1% 3%;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.blue-heading-medium {
    font-size: 24px;
    font-weight: bold;
    color: #72A6E8;
}

/* ---------------responsive design--------------------- */

@media (max-width: 950px) {
    /* overall container */


    .place {
        padding-left: 2%;
        padding-right: 2%;
        justify-items: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-content: center;
    }

    .second-icon {
        max-height: 100px;
        max-width: 100px;
        padding-left: 10px;
    }

    .first-icon {
        max-height: 150px;
        max-width: 150px;
        padding-right: 10px;
    }

    .third-icon {
        max-height: 100px;
        max-width: 100px;
        padding-right: 10px;
    }

}

/* ------------------ leaderboard end ------------------ */

/*----------------------------------------------------------------------------------------------------------------------*/
/*Clinician and Patient Profile Settings CSS -- work in progress, need to make responsive*/
.cliniciansettings {
    background-color: #FFFFFF;
    border-bottom-left-radius: 38px;
    border-bottom-right-radius: 38px;
    filter: drop-shadow(4px 4px 3px #858484);
    padding-top: 2%;
    padding-bottom: 5%;
    margin: 0% 5% 5% 5%;
    border-top: #7D92DB 5px solid;
}

.detailsform {
    background-color: #FFFFFF;
    border-radius: 38px;
    filter: drop-shadow(4px 4px 3px #858484);
    border: 2px solid #E7E7E7;
    padding-top: 2%;
    padding-bottom: 5%;
    margin: 0% 5% 5% 5%;
}


.settings_heading{
    text-align: left;
    color: #7D92DB;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    margin-bottom: 5%;
}

.page_heading{
    text-align: left;
    color: #7D92DB;
    font-family: 'poppins', sans-serif;
    font-weight: bolde;
    padding: 5% 0% 3% 8%;
}

input[id=firstname], input[id=lastname], input[id=Username], input[id=psw] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 38px;
    filter: drop-shadow(4px 4px 3px #D4D4D4);
    margin-top: 2%;
    margin-bottom: 5%;
}


.settings-form-container {
    display: flex;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

/* Add padding to containers */
.settings_container {
    padding: 10px 15%;/* First value: padding top and bottom. Second value: padding on sides. */ 
}
.settings_button {
    background-color: #7D92DB;
    color: white; padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    display: flex;
    border-radius: 38px;
    filter: drop-shadow(4px 4px 3px #D4D4D4);
    font-size: 20px;
    font-weight:bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease 0s;
    margin-top: 5%;
    width: 100%;
}
  
  /* Add a hover effect for buttons */
.settings_button:hover {
    opacity: 0.8;
    transform: scale(1.05);

}

.placeholderimg{
    border: 5px solid #555;
    border-radius: 50%;
    max-height: 200px;
    max-width: 200px;
}

.innerbound{
    display: flex;
    justify-content: center;
    padding: 2% 8% 2% 8%;

}

/* Clinician  Tab Styling*/
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
    border-radius: 15px 15px 0 0;
    margin:0% 5% 0% 5%;
    filter: drop-shadow(4px 4px 3px #858484);
  }
  
  /* Style buttons tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: bolder;
    border-radius: 15px 15px 0 0;
    width: 50%;
  }
  
  /* Background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Active/current tablink class */
  .tab button.active {
    background-color: #7D92DB;
    color: #FFFFFF
  }
  
  /* tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }

  .tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }



/*---------------- graphs --------------------*/
/*patient specifics*/
.line-graph {
    height: 82%;
    width: 100%;
    padding-top: 20px;
}

.overview-graph {
    padding-top: 20px;
}

/*history*/
.history-graph {
    width: 90%;
    justify-self: center;
    align-self: center;
    padding-top: 60px;

}

.patient-graph {
    padding-top: 10px;
    /* justify-self: center;
    align-content: center; */
    width: 100%;
    max-height: 700px;
}

/* ---------------- end of graph styling--------------------- */